.navbar-expand-lg  {
    background-color: blanchedalmond;
    height: 7rem;
    }
    .container-fluid{
        background-color:rgb(189, 179, 254);
        padding: 6px;
    }
    
    .buscado-flex{
        display: flex;
        align-items: center;
    }
    
    .buscado-flex {
        border: none;
        background-color:rgb(166, 152, 255);
        padding: 0.04rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .buscado-flex button:hover{
        background-color:rgb(53, 0, 128);
    }
    
    .container{
        /* width: 100%;
        height: 75vh; */
        display: flex;
    } 
    
    .form{
        width: 100%;
        background-color: blanchedalmond;
        padding-left: 2rem;
        padding-right: 2rem;
        font-family: 'Nunito', sans-serif;
    }
    
    .form-image{
        border-radius: 20px;
        width: 50%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(244, 197, 197, 0.945);
        padding: 1rem ;
    }
    
    .form-image img{
        width: 20rem;
    }
    
    .form-header{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .mod-sub-title{
        align-items: center;
    }
    
    .sub-title{
        font-family: 'Nunito', sans-serif;
        padding: 5px;
        border-radius: 15px;
        background-color: rgba(244, 197, 197, 0.945);
    }
    
    .login-button button a{
        text-decoration: none;
        font-weight: 500;
        color: aliceblue;
    }
    
    .form-header h1{
        font-family: 'Playfair Display', serif;
    }
    
    .form-header h1::after{
        content:'' ;
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: rgb(138, 121, 252) ;
        margin:0 auto ;
    }
    
    .input-group{
        justify-content: space-between;
        padding: 1.2rem ;
    } 
    
    .input-box input{
        margin: 0.6rem;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
    }
    
    .input-regist{
        align-items: center;
        padding: 10px;
        margin-left: 350px;
    }
    
    .input-register{
    padding: 10px;
        border: none;
        background-color: rgba(197, 241, 244, 0.945);
        border: 1px cornflowerblue;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .input-register:hover{
        background-color:rgb(177, 165, 253);
    }
    
    .sub-texto{
        padding: 4px;
        background-color:rgb(177, 165, 253);
        border-radius: 5px;
    }
    
    .link-secondary{
        padding: 5px;
    }
    
    .link-secondary img{
        width: 30px;
        height: 30px;
    }
    
    .input-register :nth-of-type(){
        text-decoration: none;
        font-weight: 500;
        color: aliceblue;
        align-items: center;
    }
    
    .section-part{
        height: 20rem;
        background-color: rgb(27, 27, 27) ;
        font-family: 'Nunito', sans-serif;
        padding: 10px;
    }
    
    .d-flex{
        background-color:rgb(189, 179, 254);
    }