    body{
        background-color: blanchedalmond;
        font-family: 'Nunito', sans-serif;
    }

    .container-fluid{
        background-color:rgb(189, 179, 254);
        font-family: 'Nunito', sans-serif;
        padding: 16px;
    }

    nav{
        background-color: #BDB3FE;
    }

    .navbar-brand{
        margin-left: 25px;
    }

<<<<<<< Updated upstream
    .nav-link {
        background-color: #f0ebff;
        width: 150px;
        height: 50px;
        margin-top: -15px;
        font-size: 22px;
        border: 5px solid rgb(205, 204, 255);;
        border-radius: 7px;
        color: rgb(59, 48, 255);
    }

    #max {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(255, 202, 79);
        font-size: 40px;
    }

    #nombrePagina {
        margin-left: 2%;
        font-size: xx-large;
    }

    #agendalo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
=======
    #max {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #nombrePagina {
        font-size: xx-large;
    }
    
    #agendalo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
>>>>>>> Stashed changes
    }

    #home{
        margin-top:2px;
        font-size: 20px;
        border-style: solid;
        background-color:rgb(22, 49, 113);
        color: white;
        padding: 0.08rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(0, 0, 0);
        width: 100px;
        height: 40px;
    }
    
    #home:hover{
        color: white;
        background-color:rgb(177, 165, 253);
        border: none;
    }

    .botones{
        border-style: solid;
        background-color:rgb(22, 49, 113);
        color: white;
        padding: 0.03rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(0, 0, 0);
        width: 150px;
        height: 45px;
    }

    .botones:hover{
        color: white;
        background-color:rgb(177, 165, 253);
    }

    #usuario-nombre{
        align-items: center;
        border-radius: 5px;
        width: 80px;
        height: 50px;
        margin-left: 8%;
        margin-right: 15%;
        padding: 1rem 2rem;
        text-align: center;
    }

    .container{ 
        display: flex;
        width: 100%; 
    } 

    .sub-title{
        padding: 5px;
        border-radius: 15px;
        background-color:rgba(197, 241, 244, 0.945);
    }

    .form{
        padding: 3%;
        font-family: 'Nunito', sans-serif;
        width: 80%;
    }

    .form-image{
        margin-left: 10%; 
        border-radius: 20px;
        width: 50%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(197, 241, 244, 0.945);
        padding: 3rem ;
    }

    .form-image img{
        width: 20rem;
    }

<<<<<<< Updated upstream
    .form-header{
        display: flex;
        justify-content: space-between;
    }

    .sub-texto{
        background-color:rgb(27, 41, 107);
        border-radius: 5px;
        width: 300px;
        height: 35px;
        color: white;
    }

=======
>>>>>>> Stashed changes
    .input-group{
        justify-content: space-between;
        padding: 1.2rem ;
    } 

    .input-box input{
        margin: 0.6rem;
        padding: .8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
    }

    .freeplan{
        background-color:rgba(197, 241, 244, 0.945);
        border-color: rgba(125, 213, 219, 0.945);
        border-radius: 10px;
        align-items: center;
        padding: 10px;
        margin-left: 5rem;
        margin-bottom: 1.5rem;
    }

    .link-secondary{
        padding: 5px;
    }

    .link-secondary img{
        width: 35px;
        height: 35px;
    }

    .section-part{
        font-family: 'Nunito', sans-serif;
        width: 100%;
        height: 20rem;
        background-color: rgb(27, 27, 27) ;
        padding: 10px;
    }

    .d-flex{
        font-family: 'Nunito', sans-serif;
        background-color:rgb(189, 179, 254);
    }