body{
    background-color: blanchedalmond;
    font-family: 'Nunito', sans-serif;
}

.container-fluid{
    background-color:rgb(182, 179, 254);
    font-size: 15.5px;
}

nav{
    background-color: #d2cbff;
}

.navbar-brand{
    margin-left: 25px;
}

#max {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 202, 79);
    font-size: 40px;
}

#nombrePagina {
    margin-left: 2%;
    font-size: xx-large;
}

#agendalo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

label{
    width: 100px;
}

#crea-empresa{
    border: none;
    background-color:rgb(22, 49, 113);
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 17px;
}

.botones{
    border-style: solid;
    background-color:rgb(22, 49, 113);
    color: white;
    padding: 0.03rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    height: 45px;
}

#usuario-nombre{
    align-items: center;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    margin-left: 8%;
    margin-right: 15%;
    padding: 1rem 2rem;
    text-align: center;
}

.sub-texto{
    padding: 4px;
    background-color:rgb(27, 41, 107);
    border-radius: 5px;
    width: 300px;
    height: 35px;
    color: white;
}

.carousel-inner{
    margin-left: 25%;
    width: 45rem;
}

.carousel-item img{
    background-color:blanchedalmond;
    padding: 1rem;
    height: 550px;
    width: 70px;
}

.carousel-control-prev {
    background-color:  #d2cbff;
        width: 100px;
        height: 400px;
        border-radius: 50px;
        margin-top: 100px;
        margin-left: 19%;
        border: 5px solid  #c2b8ff;
}

.carousel-control-next {
    background-color:   #d2cbff;
    width: 100px;
    height: 400px;
    border-radius: 50px;
    margin-top: 100px;
    margin-right: 300px;
    border: 5px solid  #c2b8ff;
    }

.icons img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.nav-link {
    background-color: #f0ebff;
    width: 150px;
    height: 50px;
    margin-top: -15px;
    font-size: 22px;
    border: 5px solid rgb(205, 204, 255);;
    border-radius: 7px;
    color: rgb(59, 48, 255);
}

.col-1{
    margin-top: 40px;
    margin-left: 17%;
    text-align: center;
    width: 200px;
    background-color: rgb(255, 219, 128);
    border: 5px solid rgb(255, 199, 59);
    font-size: 15px;
    height: 250px;
    border-radius: 15px;
}

.col-2 {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
    width: 200px;
    height: 250px;
    background-color: rgb(255, 219, 128);
    border: 5px solid rgb(255, 199, 59);
    font-size: 15px;
    height: 250px;
    border-radius: 15px;
}

.col-3 {
    margin-top: -187px;
    margin-left: 250px;
    text-align: center;
    width: 200px;
    background-color: rgb(255, 219, 128);
    border: 5px solid rgb(255, 199, 59);
    font-size: 15px;
    height: 250px;
    border-radius: 15px;
}

.col-4 {
    margin-top: -250px;
    margin-left: 510px;
    text-align: center;
    width: 200px;
    background-color: rgb(255, 219, 128);
    border: 5px solid rgb(255, 199, 59);
    font-size: 15px;
    height: 250px;
    border-radius: 15px;
}

.p-3{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(57, 26, 0);
}

.sub-texto{
    padding: 4px;
    background-color:rgb(177, 165, 253);
    border-radius: 5px;
}

.link-secondary{
    padding: 5px;
}

.link-secondary img{
    width: 30px;
    height: 30px;
}

.section-part{
    height: 20rem;
    background-color: rgb(27, 27, 27) ;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}

.d-flex{
    background-color:rgb(189, 179, 254);
    font-size: 15.5px;
    padding: 15px;
} 