    body{
        background-color: blanchedalmond;
        font-family: 'Nunito', sans-serif;
    }

.container-fluid{
    background-color:rgb(189, 179, 254);
    padding: 6px;
}

.navbar-brand{
    margin-left: 25px;
    font-family: 'Playfair Display', serif;
}

.navbar-brand::after{
    content:'' ;
    display: block;
    width: 3rem;
    height: 0.1rem;
    background-color: rgb(255, 255, 255);
    margin:0 auto ;
}

#selectReg{
    margin: 0.3rem;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

#selectCiud{
    margin: 0.3rem;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}


.buscado-flex{
    display: flex;
    align-items: center;
}

.buscado-flex {
    border: none;
    background-color:rgb(166, 152, 255);
    padding: 0.04rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.sub-texto{
    padding: 4px;
    background-color:rgb(177, 165, 253);
    border-radius: 5px;
}
.carousel-inner{
    margin-left: 22rem;
    width: 50rem;
}

.carousel-item img{
    background-color: blanchedalmond;
    padding: 1rem;
    height:33rem;
    width: 100px;
}

.link-secondary{
    padding: 5px;
}

.link-secondary img{
    width: 30px;
    height: 30px;
}

.section-part{
    height: 20rem;
    background-color: rgb(27, 27, 27) ;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}

.d-flex{
    background-color:rgb(189, 179, 254);
} 