    body {
        font-family: 'Nunito', sans-serif;
        background-color: blanchedalmond;
    }

    .container-fluid {
        background-color: rgb(189, 179, 254);
        font-size: 16px;
        padding: 16px;
    }

    nav{
        background-color: #BDB3FE;
    }

    #max {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(255, 202, 79);
        font-size: 40px;
    }
    
    #nombrePagina {
        margin-left: 2%;
        font-size: xx-large;
    }
    
    #agendalo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
    }
    
    label{
        width: 100px;
    }

    #home{
        margin-top:2px;
        font-size: 20px;
        border-style: solid;
        background-color:rgb(22, 49, 113);
        color: white;
        padding: 0.08rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(0, 0, 0);
        width: 100px;
        height: 40px;
    }
    
    #home:hover{
        color: white;
        background-color:rgb(177, 165, 253);
        border: none;
    }

    .botones{
        border-style: solid;
        background-color:rgb(22, 49, 113);
        color: white;
        padding: 0.03rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(0, 0, 0);
        width: 150px;
        height: 45px;
    }

    .botones:hover{
        color: white;
        background-color:rgb(177, 165, 253);
        border: none;
    }

    .carousel-item img {
        margin-top: 2%;
        display: flex;
        margin-right: 50%;
        background-color: blanchedalmond;
        height: 200px;
        width: 200px;
    }

    #container-c{
        display: flex;
        background-color: blanchedalmond;
        /* width: 100%; */
        /* height: 20%; */
    }

    .card-body {
    padding: 30px;
    }

    .card-title {
        background-color: rgb(255, 196, 102);
        border-radius: 5px;
        border-color: rgb(0, 0, 0) ;
    }

    .button-crear {
        background-color: rgb(10, 10, 87);
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
    } 

    .button-crear a{
        color: aliceblue;
    }

    .card-text{
        padding: 10px ;
    }

    #cartafree{
        background-color: rgb(213, 255, 245);
        text-align: center;
        border-radius: 15px;
        width: 270px;
        height: 200px;
        margin-left: 31%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    #cartapre{
        display: flex;
        background-color: rgb(253, 219, 173);
        border-radius: 15px;
        width: 270px;
        height: 200px;
        text-align: center;
    }

    .sub-texto{
        padding: 4px;
        background-color:rgb(27, 41, 107);
        border-radius: 5px;
        width: 350px;
        height: 35px;
        color: white;
    }

    .link-secondary {
        padding: 5px;
    }

    .link-secondary img {
        width: 30px;
        height: 30px;
    }

    .section-part {
        height: 20rem;
        background-color: rgb(27, 27, 27);
        font-family: 'Nunito', sans-serif;
        padding: 10px;
    }

    .d-flex {
        background-color: rgb(189, 179, 254);
    }