*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border: 0px;
    font-family: 'Nunito', sans-serif;
}

body {
    width:100%;
    height: 100;
    justify-content: center;
    align-items: center;
    background: rgb(171, 158, 254);
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);

}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(191, 247, 253, 0.945)
    ;
    padding: 1rem ;
}

.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color:#fff ;
    padding: 1px;
}

.form-header{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color:rgb(138, 121, 252) ;
    padding: 0.04rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color:rgb(53, 0, 128);
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
}

.form-header h1{
    font-family: 'Playfair Display', serif;
}

.form-header h1::after{
    content:'' ;
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(138, 121, 252) ;
    margin:0 auto ;
}


.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.9rem ;
} 

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.alienarDisplay{
    display: inline-block;
    vertical-align: top;
}